
html, body {
    height: 100%;

    user-select: none;
    -moz-user-select: none;

    background-color: var(--white);
}

.title-container {
    height: 40vh;
}

.about-me-container {
    padding-top: 20px;
    padding-bottom: 20px;

    width: 80vw;

    margin-left: 10vw;

    background-color: var(--accent);
}

.title-hello {
    font-size: 10rem;
    font-weight: 700;
    font-family: 'ZCOOL KuaiLe', cursive;

    color: var(--dark);
}

.title-name {
    font-size: 4rem;
    font-weight: 800;
    font-family: 'ZCOOL KuaiLe', cursive;

    color: var(--white);

    position: relative;
    top: -2.5rem;
    background-color: var(--accent);
}

.about-me {
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;

    padding-right: 15%;
    padding-left: 15%;

    color: var(--white);
}

.padding-footer {
    height: 15px;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
        font-size: 12px;
    }

    .about-me {
        padding-left: 5%;
        padding-right: 5%;
    }

    .title-container {
        height: 45vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}
